<div class="mainBody">
  <div class="main-container">
  <h1>Sign In</h1>
    <%= form_tag signin_path, method: "post" do %>
      <div id="form">
        <p>
          <label>Email</label>
          <input type="text" name="email"/>
        </p>
        <p>
          <label>Password</label>
          <input type="password" name="password"/>
        </p>
        <p>
          <input type="submit" value="signin"/>
        </p>
      <% end %>
    </div>
  </div>
</div>

  <!--table>
  <tr>
    <td><label>Email</label>
    <input type="text" name="email"/></td>
</tr>
<tr>
  <td><label>Password</label>
  <input type="password" name="password"/></td>
</tr>
<tr>
  <td><div class="ui submit button"> <input type="submit" value="signin"/></div></td>
</tr>
 </table>
 </div>
<% end %-->
