<h1>LogIn</h1>

<%= form_tag signin_path, method: "post" do %>
  <table>

    <tr>
      <td><label>Name</label>
      <input type="text" name="name"/></td>
  </tr>
  <tr>
    <td><label>Email</label>
    <input type="text" name="email"/></td>
</tr>
<tr>
  <td><label>Password</label>
  <input type="password" name="password"/></td>
</tr>
<tr>
  <td> <div class="ui submit button"> <input type="submit" value="signin"/></div</td>
</tr>
 </table>

<% end %>
<p>
<p>
