/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 h1{
   color: green;
   margin-top: 0;
   padding-right: 15px;
   padding-left: 15px
 }

 h2{
   color: green;
   margin-top: 0;
   padding-right: 15px;
   padding-left: 15px
 }

 ul.nav li {
   border-right: 1px solid #d9d9d9;
   float:  right;
}
ul.nav li.first {
   border-left: 1px solid #d9d9d9;
}
ul.nav a, ul.nav a:visited {
   padding: 5px 5px 5px 15px;
   display: block;
   text-decoration: none;
   background: #d9d9d9;
   color: #000;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
   background: gray;
   color: #666;
}
ul.nav li.active {
   background: green;
   color: #d9d9d9;
}

.design_thumbnail > img {
  height: 75px;
  width: 75px;
}

.mainBody {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 60px;
}


body {
  background-color: #E4E4E4;

}

#wrapper {
    width:100%;
    min-height: 500px;
    clear:both;
}
#tshirtTemplate {

    width:40%;
    text-align: center;
    float:left;
    margin-right:10px;
}
#second {
    background-color:#DFE9DD;
    width:15%;
    text-align: center;
    float:left;
    padding-top:5px;
}
#third {
    background-color:white;
    width:40%;
    float:left;
    text-align: center;
    padding-left:20px;
    padding-top:5px;
}



.tshirt {
  width: 400px;
  position: relative;
}

.colour_thumbnail > img {
  height: 50px;
}

input[type=text], input[type=password] {
    width: 49%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
	border-radius: 6px;
}

input[type=text]:focus {
    border: 2px solid  green;
}

input[type=button], input[type=submit] {
    background-color: green;
    border: none;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    margin: 4px 2px;
	  border-radius: 6px;
    cursor: pointer;
}

#form {
	border: 2px solid #ccc;
	border-radius: 10px;
 	padding: 20px;
	margin:20px;
	width:60%;
}
