<div class="mainBody">
  <div class="main-container">
    <h1>Your T-shirt Design</h1>
    <div class="show_tshirt">
      <%= image_tag @line_item.product.img_src, class: "tshirt" %>
      <div class="show_design", style="top:<%= @line_item.top %>px; left:<%= @line_item.left %>px;">
        <%= image_tag @line_item.design.img_src, style: "width:#{@new_width}px; height:#{@new_height}px"%>
      </div>
    </div>
  </div>
</div>
