<h1>Print your shirt</h1>

<% @designs.each do |design|%>
  <div class="entry">
    <%= image_tag "design.img_src" %>
    <h3><%= design.name %></h3>
  </div>
<!-- <div id="tshirtTemplate">
  <%= image_tag "/assets/tshirt_templ.png", class: "tshirt" %>
</div> -->

<table>
<tr>
  <td><%= design.name %></td>
</tr>
<% end %>
</table>
