<div class="mainBody">
  <div class="main-container">
    <h2>Thank you!</h2>
    <h4>Your payment of <strong>$<%= @total_price %></strong> has been processed. Your order will be delivered shortly!</h2>

  </div>
</div>
